# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/.next/
/out/

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Debug
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pidlog.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
webstorm.log*
*.sublime-project
*.sublime-workspace
*.idea
*.vscode/tasks.json
*.vscode/launch.json
# Local Netlify folder
.netlify

# Next.js local development files
.next
out

# Firebase
.firebase
firebase-debug.log
*.firebase.*

# Genkit
.genkit/cache
.genkit/log
.genkit/state

# Generated data file
src/lib/generated-data.json
