node_modules
packages
build
dist
apidocs
apihtmldocs
logs
testlogs
test/unit_test/coverage
package-lock.json
*.sh
*.md
*.yml
*.yaml
*.conf
*.ini
*.toml
*.txt
*.log
*.tmp
*.swp
*.DS_Store
*.gitignore
*.gitmodules
*.gitattributes
*.gitkeep
.env.*
.env
.vscode
.xml
.info
*.html
tmp/
packages/
public/
*.config.js
src/assets